# frontend
super-admin-frontend/node_modules
super-admin-frontend/dist
super-admin-frontend/.env

# backend
backend/node_modules
backend/dist
backend/.env

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea